@model IEnumerable<AppUser>

@{
    var admins = ViewBag.admins;
    var editeurs = ViewBag.editeurs;
    var journalistes = ViewBag.journalistes;
    var names = "";
}

<style>
    #equipe {
        font-family: 'Encode Sans Condensed',sans-serif;
    }

        #equipe h3 {
            margin: 4px 0;
        }

        ul{
            list-style: none;
        }

    h3 {
        color: #000;
        opacity: 1;
    }
</style>
<div style="margin-top: 100px;">
    <h2>ÉQUIPE DE TRAVAIL</h2>
    <div id="equipe">
        <h3>Administration : </h3>
        <ul>
            @foreach (var admin in admins)
            {
                <li>@admin.FullName</li>
            }
        </ul>

        <h3>Editeurs : </h3>
        <ul>
            @foreach (var editeur in editeurs)
            {
                <li>@editeur.FullName</li>
            }
        </ul>

        <h3>Journalistes : </h3>
        <ul>
            @foreach (var journaliste in journalistes)
            {
                <li>@journaliste.FullName</li>
            }
        </ul>
        @* <h4>@names</h4>*@
    </div>
</div>