
<div class="row social-media">
    <div class="btn col-sm fb">
        <i class="fab fa-facebook"></i>
        <a href="http://facebook.com" target="_blank">Facebook</a>
    </div>
    <div class="btn col-sm linkedin">
        <i class="fab fa-linkedin"></i>
        <a href="http://instagram.com" target="_blank">Linkedin</a>
    </div>
    <div class="btn col-sm twitter">
        <i class="fab fa-twitter"></i>
        <a href="http://twitter.com" target="_blank">Twitter</a>
    </div>
    <div class="btn col-sm google-plus">
        <i class="fab fa-google-plus"></i>
        <a href="http://google.com" target="_blank">Google</a>
    </div>
</div>