@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center text-capitalize">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="email@exemple.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group">
                            <input type="password" class="form-control" asp-for="Input.Password" id="txtPw" placeholder="Enter your password here" />                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" onclick="togglePw()">
                                    <i class="fas fa-eye" id="eyePw"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>


                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function togglePw() {
            let txtPw = document.getElementById("txtPw"),
                eyePw = document.getElementById("eyePw");

            if (txtPw.type === "password") {
                txtPw.type = "text";
                eyePw.className = "fas fa-eye-slash";
            } else {
                txtPw.type = "password";
                eyePw.className = "fas fa-eye";
            }
        }
    </script>
}
