@model ArticleViewModel
@{
    ViewData["Title"] = Model.Titre;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="titre" asp-for="Titre" placeholder="titre de l'article" class="form-control" />
                        <span asp-validation-for="Titre" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <select asp-for="CategoryId" class="form-control"
                                asp-items="@(new SelectList(Model.Categories,"Id", "Name"))">
                            <option value="@Model.CategoryId">Please select category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea rows="20" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="setting image_picker">
                    <h2>Image</h2>
                    <div class="settings_wrap">
                        <label class="drop_target">
                            <div class="image_preview"></div>
                            <input type="file" id="inputFile" asp-for="File" />
                        </label>
                        <div class="settings_actions vertical">
                            <a data-action="choose_from_uploaded">
                                <i class="fa fa-picture-o"></i>
                                Choose from Uploads
                            </a><a class="disabled" data-action="remove_current_image">
                                <i class="fa fa-ban"></i>
                                Remove Current Image
                            </a>
                        </div>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImageUrl" />
                <input type="hidden" asp-for="PublishedAt" />
                <input type="hidden" asp-for="PublisherId" />

                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}