@using Microsoft.AspNetCore.Components.Routing
@using Data.Access.Library.Model
@using NewsWeb.Services
@inject CategoryService categoryService

<ul class="navbar-nav flex-grow-1">
    @foreach (var category in categories)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="@category.Name">
                @category.Name
            </NavLink>
        </li>
    }
</ul>

@code {
    List<Category> categories = new List<Category>();

    async Task Categories()
    {
        var categoriesInDb = categoryService.getCategories();
        categories = categoriesInDb.ToList();
    }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        await Categories();
    }
}
