@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@using BLL
@using Data.Access.Library.Model
@using NewsWeb.Services
@inject CategoryService categoryService


    @foreach (var category in categories)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="@category.Name">
                @category.Name
            </NavLink>
        </li>
    }


@code {
    List<Category> categories = new List<Category>();

    async Task Categories()
    {
        var categoriesInDb = categoryService.getCategories();
        categories = categoriesInDb.ToList();
    }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        await Categories();
    }
}
